a { color:#FFFFFF; } 
a:visited { color:#FFFFFF; } 
a:active { color:#FFFFFF; } 
a:hover { color:#FFFFFF; } 
#menu_235882ac a { text-decoration: none; }
#menu_235882ac_pane { background-color: #88E22E; border: 1px solid #FFFFFF; padding-top: 10px; padding-bottom: 10px; box-shadow: 2px 2px 6px 0px rgba(8, 8, 8, 0.784314); }
#menu_235882ac_hr { background-color: #FFFFFF; height: 1px; border: none; }
#menu_235882ac_entry { padding-left: 10px; padding-right: 10px; padding-top: 3px; padding-bottom: 3px; }
#menu_235882ac_entry:hover { background-color: #FFFFFF; color: #FFFFFF !important; }
#menu_235882ac_entry:hover span { color:#FFFFFF !important; }
		.menu_235882ac_mainMenuEntry { text-align: center; }
		.menu_235882ac_mainMenuEntry:hover {	background-color:#FFFFFF; }
		.menu_235882ac_mainMenuEntry:hover span {	color:#88E22E !important; }
		#menu_235882ac .mobileEntry { display: none; } 
		#menu_235882ac .normalEntry { display: block; } 
		@media only screen and (max-width:640px) { 
			#menu_235882ac .mobileEntry { display: block; } 
			#menu_235882ac .normalEntry { display: none; } 
		}
#menu_4a7be9cd a { text-decoration: none; }
#menu_4a7be9cd_pane { background-color: #FFFFFF; border: 1px solid #646464; padding-top: 10px; padding-bottom: 10px; box-shadow: 2px 2px 6px 0px rgba(8, 8, 8, 0.784314); }
#menu_4a7be9cd_hr { background-color: #646464; height: 1px; border: none; }
#menu_4a7be9cd_entry { padding-left: 10px; padding-right: 10px; padding-top: 3px; padding-bottom: 3px; }
#menu_4a7be9cd_entry:hover { background-color: #FFFFFF; color: #FFFFFF !important; }
#menu_4a7be9cd_entry:hover span { color:#FFFFFF !important; }
		.menu_4a7be9cd_mainMenuEntry { text-align: center; }
		.menu_4a7be9cd_mainMenuEntry:hover {	background-color:#FFFFFF; }
		.menu_4a7be9cd_mainMenuEntry:hover span {	color:#7BD424 !important; }
		#menu_4a7be9cd .mobileEntry { display: none; } 
		#menu_4a7be9cd .normalEntry { display: block; } 
		@media only screen and (max-width:640px) { 
			#menu_4a7be9cd .mobileEntry { display: block; } 
			#menu_4a7be9cd .normalEntry { display: none; } 
		}
body { background-color:#FFFFFF; padding:0;  margin: 0; }
.textstyle1 { text-align:center; }
#container_5430907c { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; max-width:1200px; background:none;  }
#container_5430907c_padding { margin: 10px; display: block;  }
#container_37dbee5c { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:65px; background-color:#D6FED6;  }
#container_37dbee5c_padding { margin: 10px; display: block;  }
.textstyle2 { text-align:left; }
#container_7aff6f25 { vertical-align: top; position:relative; display: inline-block; width:39%; min-height:58px; background-color:#7BD424;  }
#container_7aff6f25_padding { margin: 10px; display: block;  }
.textstyle3 { font-size:20pt; font-family:'Berlin Sans FB'; color:#FFFFFF; font-weight:bold;  }
#container_381e378b { vertical-align: top; position:relative; display: inline-block; width:60%; min-height:45px; background-color:#7BD424;  }
#container_381e378b_padding { margin: 10px; display: block;  }
.textstyle4 { text-align:right; }
#menu_235882ac { vertical-align: bottom; position:relative; display: inline-block; width:424px; height:38px; text-align:left; background:none;  }
.menuholder1 { position: relative; overflow: hidden; width: 100%; height: 100%; }
.style1 { position:absolute; width:47px; height:38px; left:10px;  }
.style2 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:45px;  }
.textstyle5 { font-size:28pt; font-family:Tahoma, Geneva, sans-serif; color:#000000;  white-space: nowrap; }
.style3 { position:absolute; width:88px; height:38px; left:10px;  }
.style4 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:23px;  }
.textstyle6 { font-size:14pt; font-family:Tahoma, Geneva, sans-serif; color:#FFFFFF;  white-space: nowrap; }
.style5 { position:absolute; width:146px; height:38px; left:98px;  }
.style6 { position:absolute; width:30px; height:38px; left:244px;  }
.style7 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:0px;  }
.textstyle7 { font-size:14pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  white-space: nowrap; }
#menu_4a7be9cd { vertical-align: bottom; position:relative; display: inline-block; width:247px; height:38px; text-align:left; background:none;  }
.style8 { position:absolute; width:69px; height:38px; left:10px;  }
.style9 { position:absolute; width:69px; height:38px; left:79px;  }
.style10 { position:absolute; width:83px; height:38px; left:148px;  }
.textstyle8 { font-size:32pt; font-family:Tahoma, Geneva, sans-serif; color:#20242E;  }
.textstyle9 { font-size:15pt; font-family:Tahoma, Geneva, sans-serif; color:#565656; line-height: 1.5;  }
.textstyle10 { font-size:15pt; font-family:Tahoma, Geneva, sans-serif; color:#565656;  }
@media only screen and (max-width: 640px)
{
		#container_7aff6f25 * span { font-size:15pt;  }
		#menu_235882ac { width:150px;  }
		#menu_4a7be9cd { width:150px;  }
}
